/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Define global variable for button and layout color
$primaryBtn: #1877F2;
$successBtn: #42B72A;

$headerClr: white;
$bodyClr: #F0F2F5;
